<%= error_messages_for :user %>
<% form_for :user do |f| -%>
<table id="newedit">
  <thead>
    <tr>
      <th colspan="2" ><%= t('label.user.request_link_to_reset_password')%></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td align="right"><label><%= t('label.user.email') %>:</label></td>
      <td><%= f.text_field :email %></td>
    </tr>       
    <tr>
      <td></td>
      <td><%= submit_tag 'Submit' %></td>
    </tr>
  </tbody>
</table>
<% end -%>