<p>
  <b><%= t('label.user.name') %>:</b>
  <%=h @user.name %>
</p>

<p>
  <b><%= t('label.user.email') %></b>
  <%=h @user.email %>
</p>

<% if current_user && current_user.id == @user.id %>
  <%= link_to t('link.edit'), edit_user_path(@user) %> |
<% end %>
<%= link_to_function(t('link.back'), "history.go(-2)") %>