<div id="title_navi">
  <ul>
    <li>
      <%= link_to "はじめての方へ", "#" %>
    </li>
    <li>
      <%= link_to "英人の特徴", "#" %>
    </li>
    <li>
      <%= link_to "料金＆プラン", "#" %>
    </li>
    <li>
      <%= link_to "インストラクター", "#" %>
    </li>
    <li>
      <%= link_to "法人の皆様へ", "#" %>
    </li>
  </ul>
</div>
