<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Welcome: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
	<%= stylesheet_link_tag 'default' %>

	<%# javascripts needed to be placed first %>
  <%= javascript_include_tag "jquery-1.4.2.min" %>
  <%= javascript_include_tag "jquery.lazyload" %>
  <script type="text/javascript">
  <!--
  $(function(){
  	$("img").lazyload({
  		placeholder : "loading.gif",
  		effect : "fadeIn"
  	});
  });
  //-->
  </script>

	<meta name="description" content="">
	<meta name="keywords" content="">
</head>

<body>
	<%= render :partial => "layouts/user_navi" %>
	<%= render :partial => "layouts/header" %>

	<div id="page">
		<div id="content">
			<p style="color: green"><%= flash[:notice] %></p>
			<p style="color: red"><%= flash[:error] %></p>
			<p><%= yield %></p>
		</div>
		<!-- end div#content -->
		<%= render :partial => "layouts/sidebar" %>
	</div>
	<!-- end div#page -->
</body>
</html>

<%# if File.exist?("/javascripts/" + controller.controller_path)%>
	<%= javascript_include_tag controller.controller_path %>
<%# end %>

<%= render :partial => "layouts/footer" %>
<%= render :partial => "layouts/analytics" %>